.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  gap: 4rem;
  padding: 3%;
  min-width: 15em;
  min-height: 20em;
  background: linear-gradient(#15ab9c68, #09116b4d);
  border-radius: 12px;
  border: 1px solid #ffffff37;
  box-shadow: 0px 0px 3px 0px #fff;
}
